
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header bg-gray-dark">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

          <div class="navbar-brand" style="color:#e6e6f0" href="#">L Mobile Cloud</div>

      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="jobs">Jobs</a></li>
          <li><a href="shortcuts">Shortcuts</a></li>
          <li><a href="devices">Devices</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <br/>
  <br/>
  <br/>

  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">MS-123</a></li>
            <li><a href="#">Dept Printer</a></li>
            <li><a href="#">My BLE Printer</a></li>

          </ul>
        </div><!-- /btn-group -->
        <input value="Lexmark MX123dn" type="text" class="form-control text-primary" aria-label="...">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->

  <br/>
