<!DOCTYPE html>
<html>
<head>
  <title>Lexmark Mobile Cloud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <% include ../partials/header.ejs %>

  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar-top-fixed.css" />
  </head>



</head>

<body>
  <div class="container">

    <% include ../partials/nav.ejs %>

    <br/>
    <br/>

    Sending job to Printer

    <br/>
    <br/>

    Printer executing job

    <br/>
    <br/>

    <button href="#" type="button" class="btn btn-default col-lg-2"><img src="success.png"/></button><br/>
      <label>Success</label>
</body>
</html>
