<!DOCTYPE html>
<html>
<head>
  <title>Lexmark Mobile Cloud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <% include ../partials/header.ejs %>
  </head>

</head>

<body>

      <% include ../partials/nav.ejs %>

      <div class="container">
        <div>
          <table id="mytb" class="table borderless">
              <tbody>
                  <tr>
                    <td><button href="#" type="button" class="btn btn-default col-lg-2 glyph-lg glyphicon icon-dashboard"></button><br/>
                      <label>Status</label>
                    </td>
                    <td><button href="#" type="button" class="btn btn-default col-lg-2 glyph-lg glyphicon icon-lock"></button><br/>
                      <label>Security</label>
                    </td>
                  </tr>
                  <tr>
                    <td><button href="#" type="button" class="btn btn-default col-lg-2 glyph-lg glyphicon icon-network"></button><br/>
                        <label>Network</label>
                      </td>
                      <td><button href="#" type="button" class="btn btn-default col-lg-2 glyph-lg glyphicon icon-document_outline"></button><br/>
                        <label>Paper</label>
                      </td>
                  </tr>
                  <tr>
                    <td><button href="#" type="button" class="btn btn-default col-lg-2 glyph-lg glyphicon icon-user"></button><br/>
                        <label>Address Book</label>
                      </td>
                      <td><button href="#" type="button" class="btn btn-default col-lg-2 glyph-lg glyphicon icon-bookmark"></button><br/>
                        <label>Bookmarks</label>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div> <!-- /container -->

</body>
</html>
