<!DOCTYPE html>
<html>
<head>
  <title>Lexmark Mobile Cloud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <% include ../partials/header.ejs %>

  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar-top-fixed.css" />
  </head>

</head>

<body>

      <% include ../partials/nav.ejs %>

      <div class="container">
        <div>
          <table id="mytb" class="table table-hover table-condensed">
              <thead>
              </thead>
              <tbody>
                  <tr>
                    <td><button href="#" type="button" class="btn btn-default col-lg-2"><img src="copy.png"/></button><br/>
                      <label>Copy</label>
                    </td>
                    <td><button onclick="javascript:location.href='jobs'" href="#" type="button" class="btn btn-default col-lg-2"><img src="lpm3.png"/></button><br/>
                      <label>Print Release</label>
                    </td>
                  </tr>
                  <tr>
                      <td><button href="#" type="button" class="btn btn-default col-lg-2"><img src="fax.png"/></button><br/>
                        <label>Scan to Fax</label>
                      </td>
                      <td><button href="#" type="button" class="btn btn-default col-lg-2"><img src="email.png"/></button><br/>
                        <label>Scan to Email</label>
                      </td>
                  </tr>
                  <tr>
                  <tr>
                    <td><button href="#" type="button" class="btn btn-default col-lg-2"><img src="shortcut.png"/></button><br/>
                      <label>Scan Invoices</label></td>
                    <td><button onclick="javascript:location.href='settings'" href="#" type="button" class="btn btn-default col-lg-2"><img src="settings.png"/></button><br/>
                      <label>Settings</label></td>
              </tbody>
          </table>
      </div> <!-- /container -->

</body>
</html>
