<!DOCTYPE html>
<html>
<head>
  <title>Lexmark Mobile Cloud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <% include ../partials/header.ejs %>

  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar-top-fixed.css" />
  </head>



</head>

<body>
  <div class="container">

    <% include ../partials/nav.ejs %>

  <button href="jobs" type="button" onclick="javascript:location.href='shortcuts'"><img src="sign_in.png"/></button>

</body>
</html>
